<!DOCTYPE html>
<html>
<head>
	<title>Ticket Turnover</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
 	<style>
 .ui.container.main{margin-top: 10%;}
 h3.fields {display: inline-block;}
 	</style>
 	</head>
	<body>
		<!--Adding menu. "Inverted menu" class will turn color to black. 
		"header item is anal to bootstrap's "brand" navbar item-->
<div class="ui fixed inverted menu">
    <div class="ui container">
        <div  class="header item">
            <i class="ticket icon"></i>
            Tickets Turnover 
         </div>   
        <a href="/" class="item">All ticket</a>
        <a href="/tickets/new" class="item">New Ticket</a>
        <a href="/tickets/external" class="item">External Tickets</a>
        <a href="/tickets/monitoring" class="item">Under Monitoring</a>
    </div>
</div>
		