<% include ./partials/header     %>



<div class="container">
    
    <form action="/login" method="POST" style="width: 80 %;" class="ui form">
  <div class="field">
    <label>User Name</label>
    <input type="text" name="username" placeholder="Username">
  </div>
  <div class="field">
    
 <!-- Password field -->
Password: <input type="password" onfocus="this.value=''"  name="password"  value="FakePSW" class="myInput">
 
<!-- An element to toggle between password visibility -->
 
     </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
    
</div>





<% include ./partials/footer %>
