<% include ./partials/header     %>



<div class="container">
    
    <form action="/login" method="POST" style="width: 80 %;" class="ui form">
  <div class="field">
    <label>User Name</label>
    <input type="text" name="username" placeholder="First Name">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="text" name="password" placeholder="Last Name">
  </div>
 
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox"  >
          <label>I agree to the Terms and Conditions</label>
        </div>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
    
</div>





<% include ./partials/footer %>
