<% include ./partials/header     %>



<div class="container">
    
    <form action="/register" method="POST" style="width: 80 %;" class="ui form">
  <div class="field">
    <label>User Name</label>
    <input  required type="text" name="username" placeholder="First Name">
  </div>
  <div class="field">
    <label>Password</label>
    <input  required type="text" name="password" placeholder="Last Name">
  </div>
 
 <div class="field">
    <label>email</label>
    <input  required type="text" name="email" placeholder="Email">
  </div>
  
       <div class="field">
        <div>
          <input required type="checkbox"  >
          <label style="padding-top: 3px;">I agree to the Terms and Conditions</label>
        </div>
      </div>
    
 
      <div class="g-recaptcha" data-sitekey="6LfHkU8UAAAAAEloQAoHwUgwjkBmiHjUdltNWLoW"></div>
      <br/>
   
 
      <input class="ui button" type="submit">
   
    </form>
    
    
</div>





<% include ./partials/footer %>
